body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
}
h1{
    font-size: 45px;
}
.orange-color{
    color:orangered;
}
.flexible-con{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 40px;
}
.half-width img{
    width: 85%;
}
.button{
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(rgb(255, 27, 27), rgb(225, 123, 85));
    color: white;
    padding: 10px 40px;
    border-radius: 6px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.button2{
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(rgb(255, 27, 103), rgba(234, 52, 76, 0.974));
    color: white;
    padding: 10px 40px;
    border-radius: 6px;}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.ex-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 50px;
    box-shadow: 10px 10px 40px gray;
    border-left: 7px solid blue;
}
h2{
    font-size: 40px;
}
.experince-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#orange{
    border-left:7px solid tomato;
}
footer p{
    text-align: center;
}