body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
}
h1{
    font-size: 45px;
}
.orange-color{
    color:orangered;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 40px;
}
.half-width img{
    width: 85%;
}
.button{
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(rgb(255, 27, 27), rgb(225, 123, 85));
    color: white;
    padding: 10px 40px;
    border-radius: 6px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.button2{
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(rgb(255, 27, 103), rgba(234, 52, 76, 0.974));
    color: white;
    padding: 10px 40px;
    border-radius: 6px;}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}